################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC_SYSTEM
/MVC_SYSTEM/bin
/packages
/MVC_SYSTEM/obj
MVC_SYSTEM/MVC_SYSTEM.csproj.user
MVC_SYSTEM/Web.config
MVC_SYSTEM/ErrorLog/ErrorLog-19-08-2023.txt
