################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC_SYSTEM
/MVC_SYSTEM/bin
/packages
/MVC_SYSTEM/obj