<script>
    $(function () {
        $("#SavePassword").on('click', function () {
            var password = $("#password").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangePassword", "Main", null, "http")",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ oldpswd: $("#oldpassword").val(), newpswd: $("#newpassword").val(), confirmpswd: $("#confirmpassword").val() }),
            dataType: "json",
            success: function (result) {
                if (result.success)
                {//mas tambah popup success 18/9/2020
                    swal({
                        title: 'Kata laluan berjaya ditukar',
                        html: true,
                        type: "success",
                        showConfirmButton: true,
                    });

                    $('div#PasswordModal').hide();
                    location.reload();
                        //mas end here
                }
                else
                {

                }
                $.simplyToast(result.msg, result.status);
            }
        });
    });
    });
</script>
<div id='PasswordModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            @*@Html.ValidationSummary(true)*@
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Change your password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Kata Laluan Lama</label>
                    <input type="password" name="password" id="oldpassword" class="form-control input-lg" placeholder="Old Password" />
                </div>
                <div class="form-group">
                    <label>Kata Laluan Baru</label>
                    <input type="password" name="password" id="newpassword" class="form-control input-lg" placeholder="New Password" @*pattern="^(?=.*\d)(?=.*[a-z])(?=.*A-Z).{8,10}\s$"*@ />
                </div>
                <div class="form-group">
                    <label>Sahkan Kata Laluan Baru</label>
                    <input type="password" name="password" id="confirmpassword" class="form-control input-lg" placeholder="Confirm Password" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SavePassword" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
