@using MVC_SYSTEM.Helper
<nav class="navbar navbar-default navbar-fixed-top">
    <div class='time-frame'>
        <div id='date-part'></div>
        <div id='time-part'></div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    </div>
</nav>

