<div id='FastSearchModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@GlobalResApproval.lblFastSearch</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" name="kodladang" id="kodladang" class="form-control input-lg" autofocus placeholder="@GlobalResApproval.txtboxCodeLadang" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="find" class="btn btn-primary" onclick="return DisplayProgressMessage(this);">@GlobalResApproval.btnCari</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">@GlobalResApproval.btnTutup</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

