
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-wrapper main-content clear-fix">
    <div class="well">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="panel panel-primary">
                        <div class="panel-heading">@GlobalResCorp.menuMaintenance.ToUpper()</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="ListReport">@GlobalResCorp.lblMaintenanceList</label>
                                    @Html.DropDownList("MaintenanceList", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-report">
                    <input class="btn btn-primary" type="submit" name="upload" id="upload" value=@GlobalResCorp.btnGo onclick="return DisplayProgressMessage(this);" />
                </div>
            </div>
        }
    </div>
</section>